{% extends "base.html" %}

{% block content %}
    <h2>{{session.username}}, Add a Game to Your History</h2>
    <form action="/record_game" method="post">
        <div>
            <label for="game">Select a Game: </label>
            <select name="game" id="game">
                <option value="" selected disabled>Game Title</option>
                {% for game in games %}
                <option value="{{ game.game_id }}">{{ game.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="score">Score: </label>
            <input type="number" id="score" name="score"
                   min="0" required>
        </div>
        <div>
            <label for="date">Date Played: </label>
            <input type="date" id="date" name="date">
        </div>
        <div>
            <button type="submit">Record Game</button>
        </div>

    </form>
{% endblock %}
