{% extends "base.html" %}

{% block content %}
    <h1>Fishel's 8-Bit Alley</h1>
    {% if username %}
        <h2>Hello, {{ username }}</h2>
    {% else %}
        <h2>Not a player yet? <a role="button" href="/join"">Join Now!</a></h2>
    {% endif %}
    <div>
        <form action="/favorite" method="post">
            <fieldset role="group">
                <select name="player" id="player">
                    <option value="" selected disabled>Choose a player</option>
                    {% for player in players %}
                    <option value="{{player.player_id}}">{{ player.username }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go">
            </fieldset>
        </form>
    </div>
{% endblock %}
