<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <title>8-Bit Alley</title>
  </head>
  <body>
    <div class="container">
        <nav>
  <ul>
    <li><strong><a href="/">8-Bit Alley</a></strong></li>
  </ul>
  <ul>
    <li><a href="/players">Players</a></li>
    <li><a href="/join">Join Now</a></li>
    <li><a href="/add"><i class="fas fa-gamepad"></i></a></li>
    {% if session.get('username') %}
      <li><a href="/logout">Logout</a></li>
    {% endif %}
  </ul>
</nav>
      <main>{% block content %}{% endblock %}</main>
    </div>
  </body>
</html>
